<h1 class="mat-display-1">Liste des Utilisateurs</h1>
<mat-table [dataSource]="dataSource" class="mat-elevation-z5">
    <ng-container  matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef>Avatar</mat-header-cell>
        <mat-cell *matCellDef="let user"><img src="{{'data:image/jpg;base64,' + user.avatar}}" alt="avatar" class="avatar"></mat-cell>
    </ng-container>   
    <ng-container  matColumnDef="nom">
        <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.nom}}</mat-cell>
    </ng-container>  
    <ng-container  matColumnDef="prenom">
        <mat-header-cell *matHeaderCellDef>Prenoms</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.prenom}}</mat-cell>
    </ng-container> 
    <ng-container  matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
    </ng-container> 
    <ng-container  matColumnDef="profil">
        <mat-header-cell *matHeaderCellDef>Profil</mat-header-cell>
        <mat-cell *matCellDef="let user">{{user.profil.libelle}}</mat-cell>
    </ng-container> 
    <ng-container  matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let user">
            <a routerLink="/admin/users/{{user.id}}" #user><button (click)="openDialog(user)" mat-raised-button color="accent"><mat-icon>subject</mat-icon>&nbsp;</button></a>
            <a routerLink="/admin/users/{{user.id}}"><button mat-raised-button color="primary"><mat-icon>edit</mat-icon>&nbsp;</button></a>
            <a routerLink="/admin/users/{{user.id}}"><button mat-raised-button color="warn"><mat-icon>delete</mat-icon>&nbsp;</button></a>
        </mat-cell>
    </ng-container> 
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
</mat-table>

<mat-paginator [length]="30"
              [pageSize]="10"
              [pageIndex]=""
              [pageSizeOptions]="[5, 10, 25, 30]"
              (page)="pageEvent = getServerData($event)">
</mat-paginator>
