<div style="margin: 20px 20px;">
    <h1 class="mat-display-1">Liste des Utilisateurs</h1>
    <mat-form-field appearance="fill">
        <mat-label>Recherche...</mat-label>
        <input matInput type="text" (keyup)="search($event)" [(ngModel)]="searchValue">
        <button mat-button *ngIf="!searchValue" matSuffix mat-icon-button aria-label="search"><mat-icon>search</mat-icon></button>
        <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
        <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z5">
        <ng-container  matColumnDef="avatar">
            <mat-header-cell *matHeaderCellDef>Avatar</mat-header-cell>
            <mat-cell *matCellDef="let user"><img src="{{'data:image/jpg;base64,' + user.avatar}}" alt="avatar" class="avatar"></mat-cell>
        </ng-container>   
        <ng-container  matColumnDef="nom">
            <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.nom}}</mat-cell>
        </ng-container>  
        <ng-container  matColumnDef="prenom">
            <mat-header-cell *matHeaderCellDef>Prenoms</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.prenom}}</mat-cell>
        </ng-container> 
        <ng-container  matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
        </ng-container> 
        <ng-container  matColumnDef="profil">
            <mat-header-cell *matHeaderCellDef>Profil</mat-header-cell>
            <mat-cell *matCellDef="let user">{{user.profil.libelle}}</mat-cell>
        </ng-container> 
        <ng-container  matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let user">
                <a #user><button (click)="openDetails(user)" mat-raised-button color="accent"><mat-icon>subject</mat-icon>&nbsp;</button></a>
                <a #user><button (click)="openEdit(user)" mat-raised-button color="primary"><mat-icon>edit</mat-icon>&nbsp;</button></a>
                <a #user><button (click)="openDelete(user)" mat-raised-button color="warn"><mat-icon>block</mat-icon>&nbsp;</button></a>
            </mat-cell> 
        </ng-container> 
        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
    </mat-table>

    <mat-paginator 
                [length]="length"
                [pageSize]="pageSize"
                [pageIndex]=""
                [pageSizeOptions]="[5, 10, 25, 30]"
                (page)="pageEvent = getServerData($event)">
    </mat-paginator>
</div>
<div>
    <app-add-user (userIsCreated)="updateTable($event)"></app-add-user>
</div>