<h1 class="mat-display-2 text-center p-2 m-1">Details Reférentiel</h1>
<div class="container bg-light" style="height: 85%; overflow: auto;">
    <div class="rounded border col-12 mb-2 ">
        <div class="h4 align-middle p-2">Libelle:</div>
        <div class="h5 vline align-middle p-3 text-secondary font-weight-normal">{{referentiel.libelle}}</div>
    </div>

    <div class="rounded border col-12 mb-2">
        <div class="h4 align-middle p-2">Présentation:</div>
        <div class="h5 vline text-secondary p-2 font-weight-normal">{{referentiel.presentation}}</div>
    </div>

    <div class="rounded border col-12 mb-2">
        <div class="h4 align-middle p-2">Critères d'admission:</div>
        <div class="h5 vline text-secondary p-2 font-weight-normal">{{referentiel.critereEvaluation}}</div>
    </div>

    <div class="rounded border col-12 mb-2">
        <div class="h4 align-middle p-2">Critères d'évaluation:</div>
        <div class="h5 vline text-secondary p-2 font-weight-normal">{{referentiel.critereAdmission}}</div>
    </div>

    <div class="rounded border col-12 mb-2">
        <app-competence-niveau></app-competence-niveau>
    </div>
    <div class="rounded border col-12 mb-2">
        <div class="h4 align-middle col-12 p-2">Promos:</div>
        <div class="vline">
            <div class="m-2 btn btn-light shadow-sm p-3" style="height: 60px;">Cohorte 1<button mat-button><mat-icon>more_vert</mat-icon></button></div>
            <div class="m-2 btn btn-light shadow-sm p-3"  style="height: 60px;">Cohorte 2<button mat-button><mat-icon>more_vert</mat-icon></button></div>
            <div class="m-2 btn btn-light shadow-sm p-3"  style="height: 60px;">Cohorte 3<button mat-button><mat-icon>more_vert</mat-icon></button></div>
        </div>
    </div>
    <div class="m-3 float-right pb-5">
        <button class="m-2" mat-raised-button mat-button color="accent">Editer</button>
        <button class="m-2" mat-raised-button mat-button color="primary">Voir le programme</button>
        <button class="m-2" mat-raised-button mat-button color="accent">Telecharger en PDF</button>
    </div>
</div>