.avatar{
    width: 200px;
    height: 150px;
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.details{
    background-image: url('./bg.webp');
    background-color: navy;
    background-attachment: fixed;
    padding: 5%;
    text-align: justify;
    color: lavenderblush;
    text-justify: auto;
    font-size: 25px;
}

.form-field{
    width: 100%;
    display: block;
}