<h1 class="mat-display-1 text-center p-2">{{title}}</h1>
<div class="text-center">
    <button mat-button mat-raised-button [routerLink]="['/admin/promos/add']"><mat-icon>add_box</mat-icon>Nouvelle promo</button>
</div>
<mat-card class="example-card" *ngFor="let promo of promos" [routerLink]="['/admin']">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{promo.titre}}</mat-card-title>
        <mat-card-subtitle>{{promo.fabrique}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="promo_avatar" src="{{'data:image/jpg;base64,' + promo.avatar}}" alt="Photo de la promo">
    <mat-card-content>
        <p>
        {{promo.description}}<br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, pariatur incidunt? Quod, molestiae modi. Unde magni molestiae culpa veritatis, vel placeat ad quaerat provident iste quidem ratione eum dolor consectetur?
        </p>
    </mat-card-content>
    <mat-card-actions class="float-right">
        <button mat-button mat-raised-button color="accent">Details</button>
        <button mat-button mat-raised-button color="primary">Autres</button>
    </mat-card-actions>
</mat-card>      
