.example-card {
    width: 400px;
    margin: 1%;
    display: inline-block;
  }
  
  .example-header-image {
    background-image: url('../../../assets/images/logo-sa.jpg');
    background-size: cover;
  }

  .example-card:hover{
    cursor: pointer;
    border:1px solid lawngreen;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
  