<div class="font-weight-bold" style="margin-top: 30px; font-size: 25px;">Les Apprenants de la promo</div>
<mat-list role="list">
    <div class="list-group apr-item"  *ngFor="let apr of apprenants">
        <button mat-raised-button class="list-group-item list-group-item-action flex-column align-items-start" [color]="idAppr===apr.id?'primary':''" (click)="apprClicked(apr)">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"></h5>
            <small class="mr-1 mt-1 h6">3 jours</small>
          </div>
          <p class="mb-1 h5">{{apr.prenom}} {{apr.nom}}</p>
          <div>
            <small class="h6">{{apr.email}}</small>
            <button mat-icon-button (mouseover)=(menu) [matMenuTriggerFor]="menu" class="bouton-plus" matTooltip="Plus"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="this.userDetails.openDetails(apr)">
                <mat-icon>subject</mat-icon>
                <span>Afficher les détails</span>
              </button>
              <button mat-menu-item (click)="showCard(apr)">
                <mat-icon>picture_in_picture</mat-icon>
                <span>Voir la carte</span>
              </button>
            </mat-menu>
          </div>
        </button>
      </div>
</mat-list>