<div class="container" style="background-color: rgb(250, 245, 245); width: 100%; height: 100%;">
    <app-jumbotron></app-jumbotron>
    <div>
        <div class="col float-left common col-sm-4">
            <app-liste-apprenant></app-liste-apprenant>
        </div>
        <div class="col col-sm-8 common">
            <app-details-apprenant></app-details-apprenant>
        </div>
    </div>
    <div>
        <div class="col col-sm-4 float-left common">
            <app-liste-groupe></app-liste-groupe>
        </div>
        <div class="col col-sm-3"></div>
        <div class="col col-sm-5 float-right float-left">
            <app-details-groupe></app-details-groupe>
        </div>
    </div>
</div>