<div class="container mb-5" style="background-color: rgb(250, 245, 245); width: 100%; height: 93%; overflow: auto;">
    <app-jumbotron></app-jumbotron>
    <div>
        <div class="col float-left common col-sm-4">
            <app-liste-apprenant [apprenants]="groupe_principal.apprenants"></app-liste-apprenant>
        </div>
        <div class="col col-sm-8 common">
            <app-details-apprenant></app-details-apprenant>
        </div>
    </div>
    <div>
        <div class="col col-sm-4 float-left">
            <app-liste-groupe (active_groupe)="groupActif($event)" [groupes]="promo.groupes" [idPromo]="promo.id"></app-liste-groupe>
        </div>
        <div class="col col-sm-8 float-right">
            <app-details-groupe [groupe_principal]="groupe_principal"></app-details-groupe>
        </div>
    </div>
</div>