<div class="container bg-light p-3">
  <h1 *ngIf="!called" class="mat-display-2 text-center p-2 m-3">Création de Compétences</h1>
  <form [formGroup]="registerForm" (submit)="submitted()">

    <mat-form-field *ngIf="!called" class="w-100" appearance="fill">
      <mat-label>Groupe de Compétences <span class="required text-danger">*</span></mat-label>
      <mat-chip-list #chipList aria-label="competence selection">
        <mat-chip
          *ngFor="let grpCmp of grpCompetences"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(grpCmp)">
          {{grpCmp.libelle}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Taper un groupe de compétences..."
          #cmpInput
          [formControl]="cmpCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let grpCmp of filteredGrpCompetences | async" [value]="grpCmp">
          {{grpCmp.libelle}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="form-field w-100" appearance="fill">
      <mat-label>Libelle</mat-label>
      <input matInput formControlName="libelle" required>
      <mat-error *ngIf="registerForm.get('libelle').hasError('required')">
        Le libellé est <strong>requis</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <form [formGroup]="niveauxFrom" (submit)="submitted()">
    <div class="mt-4 mb-3">
      <div class="p-2" style="font-size:large;">Niveaux<span class="required text-danger">*</span></div>
      <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
        <mat-tab label="niveau 1">
          <mat-form-field style="width: 49%;" class="form-field" appearance="fill">
            <mat-label>Groupe d'Actions</mat-label>
            <textarea [(ngModel)]="niveaux[0].grpAction" matInput formControlName="grpAction1" required></textarea>
            <mat-error *ngIf="niveauxFrom.get('grpAction1').hasError('required')">
              Ce champ est <strong>requis</strong>
            </mat-error>
          </mat-form-field> 
          <mat-form-field style="width: 49%;" class="form-field float-right" appearance="fill">
            <mat-label>Critères d'Evaluation</mat-label>
            <textarea [(ngModel)]="niveaux[0].critereEval" matInput formControlName="critereEval1" required></textarea>
            <mat-error *ngIf="niveauxFrom.get('critereEval1').hasError('required')">
              Ce champ est <strong>requis</strong>
            </mat-error>
            </mat-form-field>
        </mat-tab>
        <mat-tab label="niveau 2">
          <mat-form-field style="width: 49%;" class="form-field" appearance="fill">
            <mat-label>Groupe d'Actions</mat-label>
            <textarea [(ngModel)]="niveaux[1].grpAction" matInput formControlName="grpAction2" required></textarea>
            <mat-error *ngIf="niveauxFrom.get('grpAction2').hasError('required')">
              Ce champ est <strong>requis</strong>
            </mat-error>
          </mat-form-field> 
          <mat-form-field style="width: 49%;" class="form-field float-right" appearance="fill">
            <mat-label>Critères d'Evaluation</mat-label>
            <textarea [(ngModel)]="niveaux[1].critereEval" matInput formControlName="critereEval2" required></textarea>
            <mat-error *ngIf="niveauxFrom.get('critereEval2').hasError('required')">
              Ce champ est <strong>requis</strong>
            </mat-error>
            </mat-form-field>
        </mat-tab>
        <mat-tab label="niveau 3">
          <mat-form-field style="width: 49%;" class="form-field" appearance="fill">
            <mat-label>Groupe d'Actions</mat-label>
            <textarea [(ngModel)]="niveaux[2].grpAction" matInput formControlName="grpAction3" required></textarea>
            <mat-error *ngIf="niveauxFrom.get('grpAction3').hasError('required')">
              Ce champ est <strong>requis</strong>
            </mat-error>
          </mat-form-field> 
          <mat-form-field style="width: 49%;" class="form-field float-right" appearance="fill">
            <mat-label>Critères d'Evaluation</mat-label>
            <textarea [(ngModel)]="niveaux[2].critereEval" matInput formControlName="critereEval3" required></textarea>
            <mat-error *ngIf="niveauxFrom.get('critereEval3').hasError('required')">
              Ce champ est <strong>requis</strong>
            </mat-error>
            </mat-form-field>
        </mat-tab>
      </mat-tab-group>
    </div>

    
    <!-- <button mat-button mat-raised-button color="accent" class="float-right" [disabled]="registerForm.invalid || niveauxFrom.invalid"> Terminer </button> -->
    <button mat-button mat-raised-button color="primary" class="float-right mr-2" [disabled]="registerForm.invalid || niveauxFrom.invalid"> {{action}} </button>
  </form>
</div>
