<h1 style="text-align:center; margin-top: 50px;" class="mat-display-1">
    Page de connexion fil rouge
</h1>
<img src="../../assets/images/inf.svg" alt="image-svg">
<div class="login">
    <h2 class="login-header">S'identifier</h2>
    <form [formGroup]="loginForm" (submit)="seConnecter()">
        <mat-form-field class="form-field" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required>
          <mat-error *ngIf="loginForm.get('username').hasError('required')">
            Le nom d'utilisateur est <strong>requis</strong>
          </mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            Le mot de passse est <strong>requis</strong>
          </mat-error>
        </mat-form-field>

        <input type="submit" value="Se connecter">
    </form>
    <div *ngIf="message" class="login_error">
        {{ message }}
    </div>
</div>