<h1 class="mat-display-2 text-cent m-1 text-center">Créer une Promo</h1>
<div class="container bg-light">
  


  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="registerForm">
      <form [formGroup]="registerForm" (submit)="submitted()">
        <ng-template matStepLabel>Attributs promo</ng-template>
        <div class="w-100 border rounded mb-3 p-2">
          <mat-form-field class="form-field col-12" appearance="fill">
            <mat-label>Titre de la promo</mat-label>
            <input matInput formControlName="titre" placeholder="Donnez un titre concis à la promo" required>
            <mat-error *ngIf="registerForm.get('titre').hasError('required')">
              Le titre est <strong>requis</strong>
            </mat-error>
            <mat-hint>200 caractères max.</mat-hint>
          </mat-form-field>
        </div>
    
        <div class="w-100 border rounded mb-3 p-2">
          <mat-form-field class="form-field col-12" appearance="fill">
            <mat-label>La description</mat-label>
            <textarea matInput formControlName="description" placeholder="Donnez une description claire de la promo" required></textarea>
            <mat-error *ngIf="registerForm.get('description').hasError('required')">
              La description est <strong>obligatoire</strong>
            </mat-error>
            <mat-hint>1000 caractères max.</mat-hint>
          </mat-form-field>      
        </div>
    
        <div class="w-100 border rounded mb-3 p-2">
          <mat-form-field class="form-field col-12" appearance="fill">
            <mat-label>Le lieu</mat-label>
            <input matInput formControlName="lieu" placeholder="La région">
            <mat-hint>200 caractères max.</mat-hint>
          </mat-form-field>
        </div>
    
        <div class="w-100 border rounded mb-3 p-2">
          <mat-form-field class="form-field col-12" appearance="fill">
            <mat-label>Reférence Agate</mat-label>
            <input matInput formControlName="refAgate" placeholder="C'est un code analytique, à demander au responsable de formation">
            <mat-hint>200 caractères max.</mat-hint>
          </mat-form-field>
        </div>
    
        <div class="w-100 border rounded mb-3 p-2">
          <div class="d-inline">
            <mat-form-field appearance="fill"  class="col-6">
              <mat-label>Langue</mat-label>
              <mat-select formControlName="langue" required>
                <mat-option [value]="1">Français</mat-option>
                <mat-option [value]="2">English</mat-option>
                <mat-option [value]="3">Spanish</mat-option>
              </mat-select>
              <mat-error *ngIf="registerForm.get('langue').hasError('required')">Choisir langue</mat-error>
            </mat-form-field>
          </div>
    
          <div class="d-inline">
            <mat-form-field appearance="fill"  class="col-6">
              <mat-label>Fabrique</mat-label>
              <mat-select formControlName="fabrique" required>
                <mat-option [value]="1">Sonatel Academy</mat-option>
                <mat-option [value]="2">Simplon</mat-option>
                <mat-option [value]="3">Defar Sci</mat-option>
              </mat-select>
              <mat-error *ngIf="registerForm.get('fabrique').hasError('required')">Choisir le fabrique</mat-error>
            </mat-form-field>
          </div>
        </div>
    
        <div class="w-100 border rounded mb-3 p-2">
          <div class="d-inline">
            <mat-form-field appearance="fill" class="col-6">
              <mat-label>Date de debut</mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="dateDebut" [min]=minDate required disabled>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="d-inline">
            <mat-form-field appearance="fill" class="col-6">
              <mat-label>Date de fin</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="dateFin" [min]=minDate required disabled>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </form>
      <button mat-button mat-raised-button color="primary" class="float-right" matStepperNext>Suivant</button>

    </mat-step>


    <mat-step [stepControl]="registerForm">
      <form [formGroup]="registerForm" (submit)="submitted()">
        <ng-template matStepLabel>Reférentiel et Apprenants</ng-template>
          <div class="p-2" style="font-size:x-large;">Reférentiel<span class="required text-danger">*</span></div>
          <button type="button" mat-button mat-raised-button class="p-4 h3 m-4" style="font-size:large;" *ngFor="let ref of referentiels" [color]="idRef===ref.id?'accent':''" (click)="refChosen(ref)">{{ref.libelle}}</button>

          <div class="p-2" style="font-size:x-large;">Apprenants</div>
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Emails seulement</mat-label>
          <mat-chip-list #chipList aria-label="competence selection">
            <mat-chip
              *ngFor="let aprMail of apprenants"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(aprMail)">
              {{aprMail}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Taper un email..."
              #aprMailInput
              [formControl]="aprMailCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let aprMail of filteredapprenants | async" [value]="aprMail">
              {{aprMail}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="form-field col-12" appearance="fill">
          <ngx-mat-file-input formControlName="exelFile" placeholder="fichier exel" [accept]="'.pdf'" valuePlaceholder="Importer un fichier exel"></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
          <mat-error *ngIf="registerForm.get('exelFile').hasError('required')">
            Importez un fichier exel
          </mat-error>
          <mat-error *ngIf="registerForm.get('exelFile').hasError('maxContentSize')">
            La taille ne doit pas depasser {{registerForm.get('exelFile')?.getError('maxContentSize').maxSize | byteFormat}} ({{registerForm.get('exelFile')?.getError('maxContentSize').actualSize
            | byteFormat}}).
          </mat-error>
        </mat-form-field>

        <div>
          <button mat-button mat-raised-button color="accent" matStepperPrevious>Revoir</button>
          <button type="button" mat-button mat-raised-button color="primary" class="float-right" matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>




    <mat-step>
      <ng-template matStepLabel>Choisir une image et Valider</ng-template>
      <div class="center m-3">
        <ngx-file-drop dropZoneLabel="Glissez une image ici" (onFileDrop)="dropped($event)" 
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
              Glisser et déposer ou &nbsp;
              <button mat-button mat-raised-button type="button" (click)="openFileSelector()">Choisir une image</button>
            </ng-template>
        </ngx-file-drop>
        <div *ngIf="imgName" class="text-center" style="margin: 30px;">
          <strong class="d-block mb-3">{{ imgName }}</strong>
          <img class="img-fluid rounded" style="height: 400px; width: 350px;" src="{{ avatar }}" alt="avatar de la promo">
        </div>
      </div>
      <div>
        <button mat-button mat-button mat-raised-button color="accent" matStepperPrevious>Revoir</button>
        <button mat-button mat-raised-button color="warn" class="float-right" (click)="stepper.reset()">Annuler tout</button>
      </div>
    <button class="float-right mt-5" mat-raised-button mat-button [disabled]="registerForm.invalid" type="submit" (click)="submitted()">Valider la création de la promo</button>
    </mat-step>
  </mat-horizontal-stepper>
</div>