<div class="font-weight-bold" style="margin-top: 30px; font-size: 20px;">Lamine DABO <small>3jours</small></div>
<div class="font-weight-bold" style="margin-top: 30px; font-size: 18px;">Les statistiques</div>
<div>
    <div class="col-3 m-1 p-2 text-center border border-info float-left">
        <div>Avancement</div> 
        <div class="border rounded-circle mt-2 p-5 font-weight-bold text-primary" style="font-size: 18px; border-width:4px !important;">0%
            <div style="color: black; font-size: small; font-weight: normal;">soit 0/24</div>
        </div>
    </div>
    <div class="col-4 m-1 p-2 text-center border border-info float-left">
        <div>Resumé briefs</div>
        <div class="border float-left rounded-circle p-3 m-1 text-center font-weight-bold text-primary col-5" style="font-size: 18px;">5
            <div style="color: black; font-size: small; font-weight: normal;">validés</div>
        </div>
        <div class="border float-left rounded-circle p-3 m-1 text-center font-weight-bold text-primary col-5" style="font-size: 18px;">10
            <div style="color: black; font-size: small; font-weight: normal;">validés</div>
        </div>
        <div class="border float-left rounded-circle p-3 m-1 text-center font-weight-bold text-primary col-5" style="font-size: 18px;">9
            <div style="color: black; font-size: small; font-weight: normal;">validés</div>
        </div>
        <div class="border float-left rounded-circle p-3 m-1 text-center font-weight-bold text-primary col-5" style="font-size: 18px;">7
            <div style="color: black; font-size: small; font-weight: normal;">validés</div>
        </div>
    </div>
    <div class="row col-4 m-1 p-2 text-center border border-info float-left">
        <div>Compétences validées/Niveau</div>
        <div class="border rounded-circle p-3 m-1 text-center font-weight-bold text-primary col-7" style="font-size: 18px;position: relative; left: 20%;">9/14
            <div style="color: black; font-size: small; font-weight: normal;">Niveau3</div>
        </div>
        <div class="border float-left rounded-circle p-3 m-1 text-center font-weight-bold text-primary col-5" style="font-size: 18px;">8/14
            <div style="color: black; font-size: small; font-weight: normal;">Niveau1</div>
        </div>
        <div class="border float-left rounded-circle p-3 m-1 text-center font-weight-bold text-primary col-5" style="font-size: 18px;">10/14
            <div style="color: black; font-size: small; font-weight: normal;">Niveau2</div>
        </div>
    </div>
    <div class="row w-100 p-2 m-1">
        <div class="font-weight-bold w-100" style="font-size: 18px;">Les compétences</div>
        <div class="border border-info p-2 m-1" style="cursor: pointer;">
            <div class="font-weight-bold" style="font-size: 13px;">Maquetter une application</div>
            <div>Niveau 1(validé)</div>
            <div>Niveau 2(validé)</div>
            <div>Niveau 3(validé)</div>
        </div>
        <div class="border border-info p-2 m-1" style="cursor: pointer;">
            <div class="font-weight-bold" style="font-size: 13px;">Modéliser</div>
            <div>Niveau 1(validé)</div>
            <div>Niveau 2</div>
            <div>Niveau 3</div>
        </div>
        
        <div class="border border-info p-2 m-1" style="cursor: pointer;">
            <div class="font-weight-bold" style="font-size: 13px;">Heberger</div>
            <div>Niveau 1</div>
            <div>Niveau 2</div>
            <div>Niveau 3</div>
        </div>
        <div class="border border-info p-2 m-1" style="cursor: pointer;">
            <div class="font-weight-bold" style="font-size: 13px;">Base de données</div>
            <div>Niveau 1</div>
            <div>Niveau 2</div>
            <div>Niveau 3</div>
        </div>
        <div class="border border-info p-2 m-1" style="cursor: pointer;">
            <div class="font-weight-bold" style="font-size: 13px;">Publier un site en ligne</div>
            <div>Niveau 1</div>
            <div>Niveau 2</div>
            <div>Niveau 3</div>
        </div>
    </div>
</div>    
