<h1 class="mat-display-2 text-center p-2 m-3">Nouvel Utilisateur</h1>
<div class="container mt-5" style="margin: auto; background-color:white;">
  <form [formGroup]="registerForm" (submit)="submit()">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput required formControlName="nom">
      <mat-error *ngIf="registerForm.get('nom').hasError('required')">
        Nom is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Prenom</mat-label>
      <input matInput required formControlName="prenom">
      <mat-error *ngIf="registerForm.get('prenom').hasError('required')">
        Prenom is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput required type="email" formControlName="email">
      <mat-error *ngIf="registerForm.get('email').hasError('email') && !registerForm.get('email').hasError('required')">
      Email non valide
      </mat-error>
      <mat-error *ngIf="registerForm.get('email').hasError('required')">
      Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Profil</mat-label>
      <mat-select required formControlName="profil_id">
        <mat-option *ngFor="let profil of profils" value="{{profil.id}}">{{profil.libelle}}</mat-option>
      </mat-select>
      <mat-error *ngIf="registerForm.get('profil_id').hasError('required')">
        Choisir le <strong>profil</strong>
        </mat-error>
    </mat-form-field>
     
    <mat-form-field appearance="fill" class="form-field">
      <ngx-mat-file-input formControlName="avatar" placeholder="Image" valuePlaceholder="Aucune image séléctionnée" required></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
      <mat-error *ngIf="registerForm.get('avatar').hasError('required')">
        Choisir une image
      </mat-error>
      <mat-error *ngIf="registerForm.get('avatar').hasError('maxContentSize')">
        La taille ne doit pas depasser {{registerForm.get('avatar')?.getError('maxContentSize').maxSize | byteFormat}} (votre image fait {{registerForm.get('avatar')?.getError('maxContentSize').actualSize
        | byteFormat}}).
      </mat-error>
    </mat-form-field>

    <button class="float-right" [disabled]="registerForm.invalid" type="submit" mat-raised-button color="primary">SOUMETTRE</button>
  </form>
</div>
<br><br><br>

