/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    background-image: url('./assets/images/background-simplon-pattern.svg');
}

/* enlever la bordure autour des boutons apres click */
*:focus {
    outline: 0 !important;
}

.example-card:hover{
    cursor: pointer;
    border:1px solid lawngreen;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
}

/* se trouve dans details ref, comp, grpcom... */
.vline{
    border-left: 3px solid darkblue;
}

.vline2{
    border-left: 3px solid green;
}
