<div class="p-2 d-block">
    <div class="col-sm-4 col-12 float-left">
        <img class="w-100 h-100" src='../../../assets/images/icon-sa.png' alt="logo">
    </div>
    <div class="col-sm-4 col-6 float-left">
        <p class="text-bold"><b>SA Cohorte 3</b></p>
        <p>Apprenants de la cohorte 3 de la sonatel academy</p>
    </div>
    <div class="col-sm-4 col-6 float-left">
        <p><mat-icon class="white-icon">event</mat-icon>Du 17/02/2020 au 10/12/2020</p>
        <p><mat-icon class="white-icon">place</mat-icon>Dakar</p>
        <p><mat-icon class="white-icon">people_outline</mat-icon>19 Apprenants</p>
    </div>
</div>