<h1 class="mat-display-2 text-center p-2 m-1">Details Groupe de Compétences</h1>
<div class="container bg-light" style="height: 85%; overflow: auto;">
    <div class="rounded border col-12 mb-2 ">
        <div class="h4 align-middle p-2">Libelle:</div>
        <div class="h5 vline align-middle p-3 text-secondary font-weight-normal">Realiser le front-end d'une appli.</div>
    </div>

    <div class="rounded border col-12 mb-2">
        <div class="h4 align-middle p-2">Description:</div>
        <div class="h5 vline text-secondary p-2 font-weight-normal"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, enim. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, ut.</div>
    </div>

    <div class="rounded border col-12 mb-2">
        <app-competence-niveau></app-competence-niveau>
    </div>
    <div class="rounded border col-12 mb-2">
        <div class="col-12 d-inline">
            <div class="h4 align-middle col-12 p-2">Referentiels:</div>
            <div class="vline">
                <div class="m-2 btn btn-light shadow-sm p-3" style="height: 60px;">Developpeur.se web mobile<button mat-button><mat-icon>more_vert</mat-icon></button></div>
                <div class="m-2 btn btn-light shadow-sm p-3"  style="height: 60px;">Referent.e digital<button mat-button><mat-icon>more_vert</mat-icon></button></div>
                <div class="m-2 btn btn-light shadow-sm p-3"  style="height: 60px;">Data scientist<button mat-button><mat-icon>more_vert</mat-icon></button></div>
                <div class="m-2 btn btn-light shadow-sm p-3"  style="height: 60px;">community manager<button mat-button><mat-icon>more_vert</mat-icon></button></div>
            </div>
        </div>
    </div>
    <div class="m-3 float-right pb-5">
        <button class="m-2" mat-raised-button mat-button color="primary">Editer</button>
    </div>
</div>